.notes-container {
  margin-top: 20px;
}

.note-item {
  list-style-type: none;
  margin-bottom: 20px;
}

.edit-note-input {
  width: 80%;
  margin-bottom: 10px;
}

.save-button,
.edit-button,
.delete-button {
  margin-left: 10px;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 50px;
  color: rgb(66, 182, 255);
  font-weight: bolder;
}

.note-div {
  border: none;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.note-title {
  font-size: 18px;
  margin-bottom: 5px;
  color: rgb(51, 138, 245);
}

.note-content {
  margin-bottom: 5px;
}

.note-created-at {
  font-style: italic;
  color: #100f0f;
}
